[Unit]
Description=TraffMonetizer Client
After=network.target

[Service]
ExecStart=/opt/traff/traff.sh
Restart=always

[Install]
WantedBy=multi-user.target
